# Compiler and cache files
cache/
out/

# Broadcast logs
/broadcast/*/31337/

# Docs
docs/

# Environment variables
.env

# Ignore all libraries except specific ones
lib/
!lib/chainlink-brownie-contracts
!lib/forge-std
!lib/foundry-devops
